.card {
    background: #2C3E50;
    background: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50);
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50);
}

.login-container {
    display: flex;
    justify-content: center;
    /* Centrado horizontal */
    align-items: center;
    /* Centrado vertical */
    height: 100vh;
}

.card-body {
    background: #2C3E50;
    background: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50);
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50);
}

.text-center {
    text-align: center !important;
    color: white;
}

.card-body h3 {
    color: white;
}

.form-label {
    color: white;
}